.bg-container {
  background-color: #f5d0fe;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  padding: 40px;
}

.heading {
  font-family: 'Roboto';
  font-size: 30px;
}

.button {
  background-color: #d946ef;
  color: #ffffff;
  border: none;
  margin: 15px;
  height: 30px;
  border-radius: 5px;
}

.input-and-button-container {
  display: flex;
  flex-direction: row;
}
.input {
  height: 30px;
  margin-top:15px;
}
